<section id="carousel" class="row large-12">
  <div class="selected">
    <div class="coupon-border">
      <div class="coupon">
        {% with featured_coupons|random as coupon %}
          <a href="{{ coupon.merchant.local_path }}">
            <img class="merchantlogo" src="{{ coupon.merchant.get_image }}" alt="{{ coupon.merchant.name }}" />
          </a>
          <div class='coupon-info'>
            <h1>{{ coupon.short_desc }} at {{ coupon.merchant.name }}</h1>
            <span class="description">{{ coupon.description }}</span>
            <span class='call-to-action'>
              <a class="input button" href="{{ coupon.success_path }}">Use Coupon</a>
              See more from <a class="merchantlink" href="/coupons/{{ coupon.merchant.name_slug }}/{{ coupon.merchant.id }}/">{{ coupon.merchant.name }}</a>
            </span>
          </div>
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-1 columns hide-for-medium-down paging">
      <a href="javascript:void(0);" class="prev">&lt;</a>
    </div>
    <div class="large-10 columns carousel-row">
      <nav class="carousel">
        <ul>
          {% for coupon in featured_coupons %}
            <li
              data-image="{{ coupon.merchant.get_image }}"
              data-merchantname="{{ coupon.merchant.name }}"
              data-shortdesc="{{ coupon.short_desc }}"
              data-description="{{ coupon.description }}"
              data-couponurl="{{ coupon.success_path }}"
              data-merchanturl="/coupons/{{ coupon.merchant.name_slug }}/{{ coupon.merchant.id }}/"
              data-couponid="{{ coupon.id }}" >
              <div class='coupon coupon-{{ coupon.id }}'>
                <img src="{{ coupon.merchant.get_image }}" alt="{{ coupon.short_desc }} at {{ coupon.merchant.name }}" />
              </div>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="large-1 columns hide-for-medium-down paging">
      <a href="javascript:void(0);" class="next">&gt;</a>
    </div>
  </div>
</section>
