<div class="top-wrap">
  <div class="row">
    <div class="large-3 columns" style="line-height:2em;">
      <div class="logo">
        <a href="/">{{ WEBSITE_NAME }}</a><span>™</span>
      </div>
      <div class='catch-phrase'><span>Hand Verified Coupon Codes</span></div>
    </div>
    <form action="/search/" id="search_form">
      {% if ACQUISITION_SOURCE_LOGO_URL %}
      <div class="large-2 columns">
        <img style="padding-top:15px;" src="{{ ACQUISITION_SOURCE_LOGO_URL }}">
      </div>
      <div class="large-5 columns">
      {% else %}
      <div class="large-7 columns">
      {% endif %}
        <span class="search-box">
          <input name="q" type="text" class="input field primary" placeholder="Search over 50,000+ coupons from 6,000+ stores" style="background:none repeat scroll 0 0 #FFFFFF;" {% block search_query %}{% endblock %}>
          <a href="#" class="icon clear ir" id="clear-sb">Clear</a>
        </span>
      </div>
      <div class="large-2 columns">
        <input type="submit" class="input button primary green" value="Search">
      </div>
    </form>
  </div>
  <div class="row browse">
    <div class="float-left">
      <ul>
        <li><a class='top-tab blue {{coupon_tab_class}}' href="{{ coupons_path }}">Coupon Codes</a></li>
         <li><a class='top-tab blue {{blog_tab_class}}' href="{{ blog_path }}">&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;</a></li>
      </ul>
    </div>
    <div class="float-right">
      <span> Browse by: </span>
      <ul>
        <li><a class='top-tab blue {{category_tab_class}}' href="{{ categories_path }}">Category</a></li>
        <li><a class='top-tab blue {{stores_tab_class}}' href="/stores">Stores</a></li>
        {# <li><a class='top-tab blue {{company_tab_class}}'>Company</a></li> #}
      </ul>
    </div>
  </div>
</div>
