{% if SHOW_NEWSLETTER_SUBSCRIPTION_BAR %}
  <div class="newsletter-wrap stripe-white" id="subscribe_bar">
      <div class="row" id="subscribe_bar_row">
          <form action="#">
              <div class="large-7 columns">
                  <h3>Subscribe Now and Be The First To Know About Exclusive Deals!</h3>
              </div>
              <!--<div class="small-4 large-3 columns">-->
                  <!--<input type="text" class="input field primary" placeholder="Enter Your Name" id="subscribe_full_name">-->
              <!--</div>-->
              <div class="small-4 large-3 columns">
                  <input type="text" class="input field primary" placeholder="Enter Your E-mail" id="subscribe_email">
              </div>
              <div class="small-3 large-2 columns">
                  <input type="submit" class="input button primary blue" value="Subscribe" id="subscribe_button">
              </div>
          </form>
      </div>
  </div>
{% endif %}
