#carousel .selected .coupon-border {
  background-color: #fff;
  margin: 10px;
  padding: 2px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#carousel .selected .coupon {
  background-color: #fff;
  padding: 15px;

  border: #ccc dashed 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#carousel .selected img.merchantlogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80px;
}
#carousel .selected .coupon-info {
  max-width: 500px;
  color: #525252;
}
#carousel .selected span,
#carousel .selected h1 {
  color: #525252;
  text-align: center;
  display: block;
}
#carousel .selected h1 {
  font-size: 18px;
}
#carousel .selected .description {
  font-size: 14px;
  line-height: 16px;
  height: 48px;
  overflow: hidden;
}
#carousel .selected .button {
  background-color: rgb(26, 188, 156);
  margin: 10px;
}
#carousel .selected a.merchantlink {
  text-decoration: underline;
}
#carousel .paging a.prev,
#carousel .paging a.next {
  display: none;
}
#carousel .row {
  margin-bottom: 10px;
}
