#carousel .selected {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 220px;
}
#carousel .selected .coupon-border {
  display: inline-block;
  background-color: #000;
  padding: 5px 5px 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#carousel .selected .coupon {
  background-color: #fff;
  min-height: 140px;
  padding: 15px;
  display: inline-block;
  max-height: 220px;

  border: #ccc dashed 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#carousel .selected .button {
  background-color: rgb(77, 194, 161);
  padding: 5px 10px;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
}
#carousel .selected img.merchantlogo {
  float: left;
  max-width: 120px;
  max-height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#carousel .selected .coupon-info {
  float: left;
  max-width: 500px;
}
#carousel .selected h1, #carousel .selected span {
  color: #525252;
  margin-bottom: 10px;
  text-align: left;
  float: left;
  clear: both;
}
#carousel .selected .description {
  max-height: 66px;
  overflow: hidden;
}
#carousel .selected .call-to-action {
  display: block;
  margin-top: 10px;
}
#carousel .selected .call-to-action .button {
  font-size: 20px;
  display: inline-block;
}
#carousel .selected a.merchantlink {
  text-decoration: underline;
}
#carousel .carousel {
  padding: 10px;
  margin: 10px 0;
  overflow: hidden;
  height: 75px;
  clear: both;
}
#carousel .carousel li {
  height: 75px;
  cursor: pointer;
}
#carousel .carousel .coupon {
  display: inline-block;
  background-color: #fff;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#carousel .carousel li img {
  max-width: 94px;
  max-height: 67px;
  padding: 5px;
  background-color: #fff;
  border: dashed #ccc 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#carousel .carousel li.active .coupon {
  margin-top: -10px;
}
#carousel .paging {
  text-indent: -9999px;
  height: 57px;
  position: relative;
}
#carousel .paging a {
  position: absolute;
  top: 23px;
  left: 33px;
  display: block;
  width: 14px;
  height: 23px;
  background-image: url('/static/img/sprite.png');
  background-repeat: no-repeat;
}
#carousel .paging a.prev {
  background-position: -50px 0;
}
#carousel .paging a.next {
  background-position: -100px 0;
}
