@media only screen and (min-width: 48em) {
  #carousel .selected {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 240px;
  }
  #carousel .selected .coupon-border {
    display: inline-block;
    background-color: #fff;
    padding: 5px 5px 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-height: 240px;
  }
  #carousel .selected .coupon {
    background-color: #fff;
    min-height: 140px;
    padding: 15px;
    display: inline-block;
    max-height: 220px;

    border: #ccc dashed 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #carousel .selected .button {
    background-color: rgb(77, 194, 161);
    padding: 5px 10px;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
  }
  #carousel .selected img.merchantlogo {
    float: left;
    max-width: 120px;
    max-height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #carousel .selected .coupon-info {
    float: left;
    max-width: 500px;
  }
  #carousel .selected h1, #carousel .selected span {
    color: #525252;
    margin-bottom: 10px;
    text-align: left;
    float: left;
    clear: both;
  }
  #carousel .selected .description {
    max-height: 66px;
    overflow: hidden;
  }
  #carousel .selected .call-to-action {
    display: block;
    margin-top: 10px;
  }
  #carousel .selected .call-to-action .button {
    font-size: 20px;
    display: inline-block;
  }
  #carousel .selected a.merchantlink {
    text-decoration: underline;
  }
  #carousel .carousel {
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    height: 75px;
    clear: both;
  }
  #carousel .carousel li {
    height: 75px;
    cursor: pointer;
  }
  #carousel .carousel .coupon {
    display: inline-block;
    background-color: #fff;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #carousel .carousel li img {
    max-width: 94px;
    max-height: 67px;
    padding: 5px;
    background-color: #fff;
    border: dashed #ccc 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #carousel .carousel li .coupon.active {
    margin-top: -10px;
  }
  #carousel .paging {
    text-indent: -9999px;
    height: 57px;
    position: relative;
  }
  #carousel .paging a {
    position: absolute;
    top: 23px;
    left: 33px;
    display: block;
    width: 14px;
    height: 23px;
    background-image: url('/static/img/sprite.png');
    background-repeat: no-repeat;
    margin-top: 15px;
  }
  #carousel .paging a.prev {
    background-position: -50px 0;
  }
  #carousel .paging a.next {
    background-position: -100px 0;
  }
}



@media only screen and (min-width: 32.5em) and (max-width: 48em) {
  #carousel .selected {
    height: 320px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #carousel .selected .coupon-border {
    display: inline-block;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #carousel .selected .coupon {
    background-color: #fff;
    min-height: 140px;
    padding: 15px;
    display: inline-block;

    border: #ccc dashed 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #carousel .selected .button {
    background-color: rgb(77, 194, 161);
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
  }
  #carousel .selected img.merchantlogo {
    max-width: 120px;
    max-height: 120px;
  }
  #carousel .selected .coupon-info {
    max-width: 500px;
  }
  #carousel .selected h1, #carousel .selected span {
    color: #525252;
    margin-bottom: 10px;
    clear: both;
  }
  #carousel .selected .description {
    max-height: 66px;
    overflow: hidden;
  }
  #carousel .selected .call-to-action {
    display: block;
    margin-top: 10px;
  }
  #carousel .selected .call-to-action .button {
    font-size: 20px;
  }
  #carousel .selected a.merchantlink {
    text-decoration: underline;
  }
  #carousel > .row {
    font-size: 0;
  }
  #carousel .carousel {
    padding: 10px;
    overflow: hidden;
    height: 75px;
  }
  #carousel .carousel li {
    height: 50px;
    cursor: pointer;
  }
  #carousel .carousel .coupon {
    display: inline-block;
    background-color: #fff;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #carousel .carousel li img {
    max-height: 42px;
    padding: 5px;
    background-color: #fff;
    border: dashed #ccc 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #carousel .carousel li.active .coupon {
    margin-top: -10px;
  }
  #carousel .carousel-row {
    margin: 0;
    display: inline-block;
    width: 80%;
    float: left;
  }
  #carousel .paging {
    text-indent: -9999px;
    height: 57px;
    width: 9%;
    display: inline-block;
    position: static;
    padding-top: 10px;
  }
  #carousel .paging a {
    display: block;
    width: 14px;
    height: 23px;
    background-image: url('/static/img/sprite.png');
    background-repeat: no-repeat;
  }
  #carousel .paging a.prev {
    float: right;
    background-position: -50px 0;
  }
  #carousel .paging a.next {
    float: left;
    background-position: -100px 0;
  }
}



@media only screen and (max-width: 32.5em) {
  #carousel .selected .coupon-border {
    background-color: #fff;
    margin: 10px;
    padding: 2px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #carousel .selected .coupon {
    background-color: #fff;
    padding: 15px;

    border: #ccc dashed 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #carousel .selected img.merchantlogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80px;
  }
  #carousel .selected .coupon-info {
    max-width: 500px;
    color: #525252;
  }
  #carousel .selected span,
  #carousel .selected h1 {
    color: #525252;
    text-align: center;
    display: block;
  }
  #carousel .selected h1 {
    font-size: 18px;
  }
  #carousel .selected .description {
    font-size: 14px;
    line-height: 16px;
    height: 48px;
    overflow: hidden;
  }
  #carousel .selected .button {
    background-color: rgb(26, 188, 156);
    margin: 10px;
  }
  #carousel .selected a.merchantlink {
    text-decoration: underline;
  }
  #carousel .paging a.prev,
  #carousel .paging a.next {
    display: none;
  }
  #carousel nav.carousel ul li {
    height: 40px;
  }
}
