.logo a {
  text-transform: none;
}

.logo span {
  font-style: normal;
  font-size: 30px;
}

.catch-phrase {
  display: block;
  min-width: 185px;
  text-transform: none;
  text-align: center;
  font-size:15px;
  font-style:italic;
  font-family:'Times New Roman'
}
