div.top-wrap {
  padding-bottom: 0px;
  text-transform: none;
}

.top-wrap .logo a {
  text-transform: none;
}

.top-wrap .logo span {
  font-style: normal;
  font-size: 30px;
}

.top-wrap .catch-phrase {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  text-transform: none;
  text-align: center;
  font-size:15px;
  font-style:italic;
  font-family:'Times New Roman'
}

.top-wrap .row.browse ul {
  display: inline-block;
  list-style-type: none;
  overflow: visible;
  margin: 0px;
  padding: 0px;
}

.top-wrap .row.browse ul li {
  display: inline-block;
  margin-left: 10px;
}

.top-wrap .row.browse ul li a {
  padding: 10px;
  font-weight: lighter;
}

.float-left {
  float: left;
  display: inline-block;
}

.float-right {
  margin-right: 10px;
  float: right;
  display: inline-block;
}
