{% load humanize %}
<li class="wrapper-3">
  <div class="row">
    <div class="large-4 small-12 columns">
      <figure>
        <a target="_blank" rel="comm" href="{{ coupon.local_path }}">
          <img src="{{ coupon.get_image }}" alt="{{ coupon.description }}" style="display:normal;max-height: 110px;">
        </a>
      </figure>
    </div>
    <div class="large-5 small-8 columns">
      <div class="col-middle">
        <h2 class="alt"><a target="_blank" rel="comm" href="{{ coupon.local_path }}">{{ coupon.description }}</a></h2>
        <p class="text secondary">
          {{ coupon.get_description }}
            {% if coupon.end %}
            <br /><br />Offer ends: {{ coupon.end|naturalday }}
            {% endif %}
        </p>
      </div>
    </div>
    <div class="large-3 small-4 columns">
      <div class="col-right">
        <p class="value secondary">{{ coupon.short_desc }}</p>
        <h6>&nbsp;</h6>
        <a target="_blank" rel="comm" href="{{ coupon.local_path }}" class="input button green secondary responsive">Use Coupon</a>
      </div>
    </div>
  </div>
</li>
