<div class="search-wrap" style='padding-bottom: 15px;'>
  <div class="row">
    <form action="search-results.html">
      <div class="small-6 large-8 columns">
        <label class="search-box">
          <input type="text" class="input field primary" placeholder="Search listing">
          <a href="#" class="icon clear ir" id="clear-sb">Clear</a>
        </label>
      </div>
      <div class="small-3 large-2 columns">
        <input type="submit" class="input button primary red" value="Search">
      </div>
      <nav class="small-3 large-2 columns">
        <ul class="rr menu-browse">
          <li class="input button primary">
          <p class="label">Browse</p>
          <ul class="rr sub">
            <li><a href="company.html">Nike</a></li>
            <li><a href="company.html">Ray Ban</a></li>
            <li><a href="company.html">Amazon</a></li>
            <li><a href="company.html">InterSport</a></li>
            <li><a href="company.html">Big Time</a></li>
            <li><a href="company.html">WristWatch</a></li>
            <li><a href="company.html">GoDaddy</a></li>
            <li><a href="company.html">SanDisk</a></li>
            <li><a href="company.html">Nikon</a></li>
            <li><a href="company.html">Canon</a></li>
          </ul>
          </li>
        </ul>
      </nav>
    </form>
  </div>
</div>
