{% load i18n %}

<div class="large-9 columns">
  <article class="blog-post-content">
    <section class="article-main-content">
      <div class="wrapper-3 primary">
        <div class="row">
          <div class="column">
            <heading>
            <figure>
              <img src="{{ article.image_url }}" alt="">
            </figure>
            <h2 class="alt">{% trans article.title %}</h2>
            <p class="rr subtitle">
              {% trans 'posted on' %} {{ article.publish_date|date:"F jS, Y" }} by {{ article.author.get_name }}
            </p>
            </heading>

            <div class="text-content">
              <p>
                {{ article.rendered_content|safe }}
              </p>
            </div>
            <a class="input button dark secondary responsive fixed share-button right" href="#">Share</a>
          </div>
        </div>
      </div>

      <ul class="rr tags">
        <li>
        <span>Tags:</span>
        </li>
        <li><a href="#">business</a></li>
        <li><a href="#">technology</a></li>
        <li><a href="#">experience</a></li>
        <li><a href="#">information</a></li>
        <li><a href="#">news</a></li>
      </ul>

    </section>
  </article>
</div>

<aside class="large-3 columns main-sidebar bg">
  <div class="wrapper-3 secondary block">
    <h2 class="alt inner">Popular Companies</h2>
    <ul class="rr inne sidebar-list popular-companies-list">
      <li class="cf">
        <a href="company.html">Canon <span class="count-bullet">10</span> </a>
      </li>
    </ul>
    <a href="#" class="side-link">View All Companies</a>
  </div>
</aside>

{% for att in article.attachments.all %}
{% if forloop.first %}<div id="article-attachments">
    <h3>Attachments</h3>
    <ul>{% endif %}
        <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
            <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
            <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
        </li>
    {% if forloop.last %}</ul>
</div>{% endif %}
{% endfor %}
