{% extends 'articles/base.html' %}
{% load i18n %}

{% block header_block %}
  <h1 class="text-center">{% trans article.title %}</h1>
{% endblock %}
{% block extra-head %}
{{ block.super }}
{% for tag in article.tags.all %}
<link rel="alternate" type="application/rss+xml" title="Blog Articles Tagged '{{ tag.name }}' RSS Feed" href="{% url articles_rss_feed_tag tag.rss_name %}" />
<link rel="alternate" type="application/atom+xml" title="Blog Articles Tagged '{{ tag.name }}' Atom Feed" href="{% url articles_atom_feed_tag tag.rss_name %}" />{% endfor %}
{% endblock %}

{% block content %}

<div class="page blog-post">
  <div role="main">
    <div class="stripe-regular">
      <div class="row">
        {% include 'articles/_article_content.html' %}
        <div class="large-9 columns left">
          {% include 'articles/_comments.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
