{% extends "base.html" %}
{% load article_tags i18n %}

{% block extra-head %}
{{ block.super }}
{% endblock %}


{% block header_block %}
    <h1 class="text-center">PennyWyse Recomendations</h1>
{% endblock %}

{% block content %}
  <div class="page blog">
    <div role="main">
      <div class="stripe-regular">
        <div class="row">
          <div class="large-9 columns">
            <div class="coupons-wrapper">
              {% block articles-content %}
              {% endblock %}
            </div>

            {% if paginator and page_obj %}
              {% ifnotequal paginator.page_range|length 1 %}
                <ul class="rr pagination">
                {% for p in paginator.page_range %}
                  {% if forloop.first %}
                    {% if page_obj.has_previous %}
                      <li><a href="{% get_page_url 1 %}">&laquo;</a></li>
                      <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
                    {% endif %}
                  {% endif %}
                  <li><a href="{% get_page_url p %}"{% ifequal p page_obj.number %} class="current"{% endifequal %}>{{ p }}</a></li>
                  {% if forloop.last %}
                    {% if page_obj.has_next %}
                        <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
                        <li><a href="{% get_page_url paginator.num_pages %}">&raquo;</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </ul>
              {% endifnotequal %}
            {% endif %}
          </div>

            {% comment %}
          <aside class="large-3 columns bg">
            <div class="wrapper-3 secondary block">
              <h2 class="alt inner">Popular Companies</h2>
              <ul class="rr inne sidebar-list popular-companies-list">
                <li class="cf">
                <a href="company.html">Nike <span class="count-bullet">56</span> </a>
                </li>
              </ul>
              <a href="#" class="side-link">View All Companies</a>
            </div>
          </aside>
            {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}

  <script type="application/javascript">
  //<![CDATA[
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="application/javascript" src="http://disqus.com/forums/{{ disqus_forum }}/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
  </script>
{% endblock %}

