<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="viewport" content="width=device-width">

    {# Place favicon.ico and apple-touch-icon.png in the root directory #}
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/favicon.png" />

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300' rel='stylesheet' type='text/css'>

    {# <!--<link rel="stylesheet" href="/static/css/ubuntu.css">--> #}
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <link rel="stylesheet" href="/static/css/main.css?d=1">
    <link rel="stylesheet" href="/static/css/mq-0.css" media="screen and (max-width: 32.5em)" />
    <link rel="stylesheet" href="/static/css/mq-32.css" media="screen and (min-width: 32.5em)" />
    <link rel="stylesheet" href="/static/css/mq-48.css" media="screen and (min-width: 48em)" />
    <link rel="stylesheet" href="/static/css/mq-67.css" media="screen and (min-width: 67.5em)" />
    <link rel="stylesheet" href="/static/css/carousel.css"/>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="canonical" href="{{ canonical_url }}">

    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" href="/static/css/foundation-ie8.css">
    <link rel="stylesheet" href="/static/css/mq-32.css"/>
    <link rel="stylesheet" href="/static/css/mq-48.css"/>
    <link rel="stylesheet" href="/static/css/mq-67.css"/>
    <![endif]-->

    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    {# <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --> #}
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"><\/script>')</script>
    <script src="/static/js/plugins.js"></script>

	{% block head_tags %}
    {% endblock %}

    {% block fbtags %}
        <meta property="og:image" content="{{ og_image }}"/>
        <meta property="og:title" content="{{ og_title }}"/>
        <meta property="og:description" content="{{ og_description }}"/>
        <meta property="og:url" content="{{ og_url }}"/>
    {% endblock %}

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="page home">
    <header role="banner" class="cf">
      {% include 'layouts/_header.html' %}
      {% block header_block %}
      {% endblock %}
      {% block newsletter_subscription %}
      		{% include 'layouts/_newsletter_subscription_bar.html' %}
      {% endblock %}
    </header>

    {% block main %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer role="contentinfo">
        {% block popular_companies %}
	        <div class="stripe-regular">
	            <div class="row">
	                <div class="column">
	                    <h2>Popular Companies</h2>
	                </div>
	            </div>
	            <div class="row collapse">
	                <div class="column">
	                    <div class="popular-companies flexslider">
	                        <ul class="rr slides pop-companies">
	                            {% for pop_company in pop_companies %}
	                            <li>
	                                <a href="{% url 'web.views.main.coupons_for_company' pop_company.name_slug pop_company.id %}" class="wrapper-5 small">
	                                  <img src="{{ pop_company.get_image }}" alt="{{ pop_company.name }}">
	                                </a>
	                            </li>
	                            {% endfor %}
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
        {% endblock %}

        <div class="stripe-dark pre-footer-wrap">
            <div class="row">
                <div class="large-5 columns">
                    <h3 class="alt">About</h3>
                    <p>
                        {{ WEBSITE_NAME }} is America's best and largest source for working coupon codes. All codes on PennyWyse are hand verified by a team right here in the US. We have all the best coupons and deals from over 6,000 brands and retailers. So if its a great coupon, we will have it and we will give you the simplest way to find it and use it.
                    </p>
                </div>
                <div class="small-6 large-3 large-offset-1 columns">

                </div>
                <nav class="small-6 large-2 large-offset-1 columns">
                    <h3 class="alt">Menu</h3>
                    <ul class="rr footer-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/privacy-and-terms/" target="_blank">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-and-terms/" target="_blank">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="stripe-darker footer-wrap">
            <div class="row">
                <div class="large-3 columns">
                    <div class="logo">
                        <a href="#">{{ WEBSITE_NAME }}</a><span style="font-style:normal;font-size:30px;">™</span>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="copyright">Copyright &copy; 2013, {{ WEBSITE_NAME }}. All rights reserved.</div>
                </div>
                <div class="large-3 columns">
                    <ul class="rr social">
                        <li><a href="http://www.twitter.com/getpennywyse" target="_blank" class="ir tw">Twitter</a></li>
                        <li><a href="http://www.facebook.com/getpennywyse" target="_blank" class="ir fb">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</div>

    <script src="/static/js/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//        ga('create', 'UA-42711247-1', 'pennywyse.com');
        ga('create', 'UA-42711247-1', 'pennywyse.com');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100637453);
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//static.getclicky.com/js';
            ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
    </script>
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
        typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("3d3d512c8e3abb7052561dcaa0187132");</script>
    {% block end_of_body %}
    {% endblock %}
</body>
</html>
