<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PushPenny</title>
		<link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/grid.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="/static/js/waypoints.min.js"></script>
		<script type="text/javascript" src="/static/js/store.js"></script>
		<script type="text/javascript" src="/static/js/mustache.js"></script>
	</head>
	<body>
		<div class="header-container top-header sticky">
			<div class="main-row">
				100% verified coupons guaranteed
				<div class="top-links">
					<div class="header-links">
						<a href="#">About</a>
						<a href="#">Help</a>
					</div>
					<a href="#"><img src="/static/img/twitter_icon.png"></a>
					<a href="#"><img src="/static/img/facebook_icon.png"></a>
					<a href="#"><img src="/static/img/gplus_icon.png"></a>
				</div>
			</div>
		</div>
		<div class="header-container header hidden">
				<div class="row">
					<div class="logo"><a href="{% url 'web.views.main.index' %}"><img src="/static/img/logo.png"></a>
					</div>
					<div class="search-container">
						<form action="/search/" id="search_form">
						<input name="q" type="text" placeholder="Search over 50,000+ coupons from 6,000+ stores" class="search" value="{{ query }}">
						</form>
						{% comment %}
							<a href="#">Sign Up</a> |
							<a href="#">Login</a>
						{% endcomment %}
					</div>
				</div>
		</div>
		<div class="header-container menu-row sticky">
			<div class="row">
				<ul class="menu">
					<li class="menu-item category-item">
						<a href="#">Stores</a>
						<ul class="row dropdown-row stores-row solid-bottom-shadow"><li>
							<div class="main-row">
								{% for merchant in top_merchants %}
									{% if forloop.counter == 1 %}
										<div class="category-container store-row">
									{% endif %}
									<a href="{% url 'web.views.main.coupons_for_company' company_name=merchant.name_slug company_id=merchant.id %}">{{ merchant.name }}</a><br>
									{% if forloop.counter|divisibleby:"3" %}
										<hr>
									{% endif %}
									{% if forloop.counter|divisibleby:"18" %}
										</div><div class="category-container store-row">
									{% endif %}
									{% if forloop.last %}
										</div>
									{% endif %}

								{% endfor %}
									<hr>
								<div class="more-categories">
									<a href="{% url 'web.views.main.stores' %}">See all stores</a> &#187;
								</div>
							</div>
						</li></ul>
					</li>
					<li class="menu-item category-item">
						<a href="#">Categories</a>
						<ul class="row main-row dropdown-row category-row"><li>
							<div class="main-row">
								{% for category in top_categories %}
									<div class="category-label">{{ category.name }}</div>
								{% endfor %}
								<hr>
								{% for category in top_categories %}
									<div class="category-container">
										{% for subcategory in category.category_set.all %}
											{{ subcategory.name }}<br>
										{% endfor %}
									</div>
								{% endfor %}
								<hr>
								<div class="more-categories">
									<a href="{% url 'web.views.main.categories' %}">See all categories &#187;</a>
								</div>
							</div>
						</li></ul>
					</li>
					<li class="menu-item">
						<a href="#">Groceries</a>
						<ul class="row main-row dropdown-row groceries-row"><li>
							<div class="main-row">
								{% for grocery in top_groceries.category_set.all %}
										{% if forloop.counter == 1 %}
											<div class="category-container store-row">
										{% endif %}
										<a href="{% url 'web.views.main.category' category_code=grocery.code %}">{{ grocery.name }}</a><br>
										{% if forloop.counter|divisibleby:"6" %}
											</div><div class="category-container store-row">
										{% endif %}
										{% if forloop.last %}
											</div>
										{% endif %}
									{% endfor %}
								<hr>
								<div class="more-categories">
									<a href="#">See all groceries &#187;</a>
								</div>
							</div>
						</li></ul>
					</li>
					<li class="menu-item">
						<a href="#">Local</a>
						<ul class="row main-row dropdown-row local-row"><li>
							<div class="main-row">
							<div class="local-search-container">
								<form>
								<input type="text" placeholder="Search by city, state or zip code" class="search">
								</form>
							</div>
							<hr>
							<div class="more-categories">
								<a href="#">See all cities &#187;</a>
							</div>
						</div>
						</li></ul>
					</li>
					<li class="menu-item menu-item-latest">
						<a href="/blog">Magazine</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header-container header prescroll-header bottom-shadow">
				<div class="row">
					<div class="search-container top-container">
						<a href="{% url 'web.views.main.index' %}"><img src="/static/img/top_logo.png"></a>
						<form action="/search/" id="search_form">
						<input name="q" type="text" placeholder="Search over 50,000+ coupons from 6,000+ stores" class="search" value="{{ query }}">
						</form>
					</div>
				</div>
		</div>
		<div class="main-container">
			{% block content %}{% endblock %}
		</div>
		<!-- /container -->
	</body>
</html>
