{% extends "base.html" %}

			{% block content %}
			<div class="row middle-container">
				<div class="main-rail index-rail top-labels-container">
						<div class="main-labels">
							<a href="{% url 'web.views.main.index' %}">Home</a>
							>
							<a href="{% url 'web.views.main.categories' %}">Categories</a>
							>
							<h1>All categories</h1>
						</div>
					</div>
				<br clear="both">
				{% if featured_categories %}
					<div class="left-rail top-rail">
						<div class="coupon-container  featured-merchants">
							<div class="featured-merchants-header">Featured Categories</div>
							<div class="featured-merchants-list featured-categories">
								{% for category in featured_categories %}
									<div class="featured-category">
										<div class="featured-category-container">
											<a href="{% url 'web.views.main.category' category_code=category.code %}">{{ category.name }}</a>
										</div>
									</div>
									{% if forloop.counter == 6 %}
			                       		<hr>
			                   		{% endif %}
								{% endfor %}
								<br clear="both">
							</div>
							<br clear="both">
						</div>
					</div>
				{% endif %}
				<div class="main-rail merchants">
					{% for category in categories %}
	               		<a href="{% url 'web.views.main.category' category_code=category.code %}">{{category.name}}</a>
                       	{% if forloop.counter|divisibleby:"4" %}
                       		<hr>
                   		{% endif %}
    	            {% endfor %}
					
				</div>
			</div>
			{% endblock %}
