{% extends "base.html" %}
			
			{% block title %}{{ category.name }} Coupons | Hand Verified Discounts @ PushPenny{% endblock %}
			
			{% block head %}
			    {{ block.super }}
				<meta name="description" content="{{ category.name }} Coupons | Hand Verified Discounts @ PushPenny">
				{% if current_page.has_previous %}
	            	{% if current_page.previous_page_number == 1 %}
	            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.category' category_code=category.code %}" />
	            	{% else %}
	            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.category' current_page=current_page.previous_page_number category_code=category.code %}" />
	        		{% endif %}
	        	{% endif %}
	        	{% if current_page.has_next %}
	            	{% if current_page.next_page_number == 1 %}
	            		<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.category' category_code=category.code %}" />
	            	{% else %}
	            		<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.category' current_page=current_page.next_page_number category_code=category.code %}" />
	        		{% endif %}
	        	{% endif %}
	        	<link rel="canonical" href="http://{{ request.get_host }}{% url 'web.views.main.category' category_code=category.code %}">
			{% endblock %}
			
			{% block content %}
			<div class="row middle-container index-container">
				<div class="left-rail visible-md visible-lg">
					<div class="top-labels">
						<h1>{{ category.name|cut:"Coupons" }} Coupons</h1>
						{{ category.link }}
					</div>
					{% comment %}
						<button type="button" class="btn-follow"><img src="/static/img/follow_icon.png">Follow</button>
					{% endcomment %}
					<div class="merchant">
						<div class="merchant-left">
							<img src="{{ category.icon }}" class="merchant-logo">
						</div>
						<div class="merchant-right">
							<span>{{ num_coupons }}</span>
							<br>
							coupons
						</div>
					</div>
					<hr>
					<div class="filters">
						<h4>Filters</h4>
						<b>TYPE</b>
						<div class="filter-links">
							Select: <a href="javascript:select_filters('all');">All</a> | <a href="javascript:select_filters('none');">None</a>
						</div>
						<div class="filter-icons">
							<div class="filter-container coupon-code" id="coupon_code">
								<div class="filter-icon coupon-code-icon selected"></div>
								Coupon Codes
							</div>
							<div class="filter-container shipping" id="free_shipping">
								<div class="filter-icon shipping-icon selected"></div>
								Free Shipping
							</div>
							<div class="filter-container on-sale last" id="onsale">
								<div class="filter-icon on-sale-icon selected"></div>
								On Sale
							</div>
							<div class="filter-container groceries" id="groceries">
								<div class="filter-icon groceries-icon selected"></div>
								Groceries
							</div>
							<div class="filter-container printable" id="printable">
								<div class="filter-icon printable-icon selected"></div>
								Printables
							</div>
							<div class="filter-container freebies last" id="freebies">
								<div class="filter-icon freebies-icon selected"></div>
								Freebies
							</div>
						</div>

					</div>
				</div>
				<div class="center-mobile-rail bottom-shadow hidden-md hidden-lg">
					<div class="center-mobile-label">{{ category.name }} coupons</div>
					<div class="left-mobile-rail">
						<div class="merchant">
							<div class="merchant-left">
								<img src="{{ category.icon }}" class="merchant-logo">
							</div>
							<div class="merchant-right">
								<span>{{ num_coupons }}</span>
								<br>
								coupons
							</div>
						</div>
					</div>
					<div class="right-mobile-rail">
						<div class="filter">Filter
							<div class="mobile-expand">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</div>
					</div>
					<br clear="both">
					<div class="mobile-filters hidden">
						<div class="top-labels-container coupon-types">
							<div class="main-labels index-labels">
								<div class="expandable">
									<div class="expandable-label">
										Coupon type:
									</div>
									<div class="expandable-selected">
										<ul class="mobile-coupon-type expanded-choices coupon-type-select">
											<li class="selected" id="coupon_code">Coupon Codes</li>
											<li id="free_shipping">Free Shipping</li>
											<li id="onsale">On Sale</li>
											<li id="groceries">Groceries</li>
											<li id="printable">Printables</li>
											<li id="freebies">Freebies</li>
										</ul>
										<div class="coupons-types-expand">
											<span class="glyphicon glyphicon-chevron-down"></span>
										</div>										
									</div>
								</div>
								
							</div>
						</div>
						<br clear="both">
						<div class="top-labels-container coupon-types ">
							<div class="main-labels index-labels">
								<div class="expandable">
									<div class="expandable-label">
										Sort by:
									</div>
									<div class="expandable-selected">
										<ul class="mobile-coupon-type expanded-choices ordering-select">
											<li class="selected" id="expiring_soon">Expiring Soon</li>
											<li id="popularity">Popularity</li>
											<li id="newest">Newest</li>
										</ul>
										<div class="coupons-types-expand">
											<span class="glyphicon glyphicon-chevron-down"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-rail">
					<div class="top-labels-container visible-md visible-lg">
						<div class="main-labels">
							<a href="{% url 'web.views.main.index' %}">Home</a>
							>
							<a href="{% url 'web.views.main.categories' %}">Categories</a>
							>
							{{ category.name }}
						</div>
						<div class="sorting">
							Sort by:
							<div class="sorting-toggle">
								<div class="sorting-item">
									<a href="javascript:void(null);" class="expiring_soon">Expiring soon</a>
								</div>
								<div class="sorting-item selected-sorting">
									<a href="javascript:void(null);" class="popularity">Popularity</a>
								</div>
								<div class="sorting-item sorting-item-last">
									<a href="javascript:void(null);" class="newest">Newest</a>
								</div>
							</div>
						</div>
					</div>
					<div class="coupons {% if num_pages > 1 %}more-coupons{% endif %}">
						{% include 'coupons_list.html' %}
					</div>
					<ul class="pagination">
		          		{% for page in pages %}
		                	<li>
		                  		{% if page == 1 %}
		                  			<a href="{% url 'web.views.main.category' category_code=category.code %}">{{ page }}</a>
		                  		{% else %}
		                  			<a href="{% url 'web.views.main.category' current_page=page category_code=category.code %}">{{ page }}</a>
		                  		{% endif %}
		                  	</li>
		                  	{% if num_pages > 12 %}
		                  		{% if separators == 2 and forloop.counter == 3 or separators == 2 and forloop.counter == 7 or separators == 1 and forloop.counter == 8 %}
		                    		<li>...</li>
		                    	{% endif %}
		                  	{% endif %}
		          		{% endfor %}
	        		</ul>
				</div>
			</div>
			{% endblock %}
