{% extends "base.html" %}

			{% block head %}
			    {{ block.super }}
	        	<link rel="canonical" href="http://{{ request.get_host }}{% url 'web.views.main.categories' %}">
	        {% endblock %}

			{% block content %}
			<div class="row middle-container items-list-container">
				<div class="main-rail index-rail top-labels-container items-list-container items-page visible-md visible-lg">
						<div class="main-labels">
							<a href="{% url 'web.views.main.index' %}">Home</a>
							>
							<a href="{% url 'web.views.main.categories' %}">Categories</a>
							>
							<h1>{% if is_grocery %}Grocery Categories{% else %}All categories{% endif %}</h1>
						</div>
					</div>
				<br clear="both">
				{% if CATEGORIES_PAGE_TEXT %}
					<div class="left-rail top-rail visible-md visible-lg">
						{{ CATEGORIES_PAGE_TEXT|safe }}
					</div>
				{% endif %}
				{% if GROCERIS_PAGE_TEXT %}
					<div class="left-rail top-rail visible-md visible-lg">
						{{ GROCERIS_PAGE_TEXT|safe }}
					</div>
				{% endif %}
				{% if featured_categories %}
					<div class="left-rail top-rail visible-md visible-lg">
						<div class="coupon-container  featured-merchants">
							<div class="featured-merchants-header">Featured Categories</div>
							<div class="featured-merchants-list featured-categories">
								{% for category in featured_categories %}
									<div class="featured-category">
										<div class="featured-category-container">
											<a href="{% url 'web.views.main.category' category_code=category.code %}"><img src="{{ category.icon }}"></a>
										</div>
										<a href="{% url 'web.views.main.category' category_code=category.code %}">{{ category.name }}</a>
									</div>
									{% if forloop.counter == 6 %}
			                       		<hr>
			                   		{% endif %}
								{% endfor %}
								<br clear="both">
							</div>
							<br clear="both">
						</div>
					</div>
				{% endif %}
				<div class="main-rail merchants visible-md visible-lg">
					{% for category in categories %}
	               		<a href="{% url 'web.views.main.category' category_code=category.code %}">{{category.name}}</a>
                       	{% if forloop.counter|divisibleby:"4" %}
                       		<hr>
                   		{% endif %}
    	            {% endfor %}
				</div>
				<div class="main-rail mobile-merchants-rail hidden-md hidden-lg">
					<h4>Featured Categories</h4>
					<div class="mobile-merchants clearfix">
						{% for category in featured_categories %}
							<div class="mobile-category-container">
									<a href="{% url 'web.views.main.category' category_code=category.code %}">
										<img src="{{ category.icon }}"><br>
										{{ category.name }}
									</a>
							</div>
						{% endfor %}
					</div>
					<h4>All Categories</h4>
					<div class="mobile-merchants clearfix">
						{% for category in categories %}
							<div class="mobile-category-container">
									<a href="{% url 'web.views.main.category' category_code=category.code %}">
										<img src="{{ category.icon }}"><br>
										{{ category.name }}
									</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endblock %}
