{% extends "base.html" %}
{% load humanize %}

{% block fbtags %}
    <meta property="og:image" content="{{ BASE_URL_NO_APPENDED_SLASH }}{{ merchant.get_image }}"/>
    <meta property="og:title" content="Hand Verified Coupon Codes for {{ merchant.name }} from PennyWyse"/>
    <meta property="og:url" content="{{ CURRENT_URL }}"/>
{% endblock %}

{% block header_block %}
  <h1 class="text-center">Categories</h1>
{% endblock %} {# header #}

{% block main %}
<div role="main">
  <section class="row category-index">
    <ul class='categories-list rr'>
      {% for category in categories %}
        <li class='category'>
          <a class='round3' href='#'>{{ category.name }}</a>
            {% if category.category_set.all.exists %}
              <div class='subcategories'>
                {% for subcat in category.category_set.all %}
                <div class='subcategory'><div class='centering'>
                    <a href='#'>{{ subcat.name }}</a>
                </div></div>
                {% endfor %}
              </div>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

{% endblock %} {# main #}
