{% extends "base.html" %}
			
			{% block head %}
			    {{ block.super }}
				<meta name="title" content="{{ category.name }} Coupons | Hand Verified Discounts @ PushPenny">
			{% endblock %}
			
			{% block content %}
			<div class="row middle-container">
				<div class="left-rail">
					<div class="top-labels">
						<h1>{{ category.name }}</h1>
						<h4>Coupons</h4>
						{{ category.link }}
					</div>
					{% comment %}
						<button type="button" class="btn-follow"><img src="/static/img/follow_icon.png">Follow</button>
					{% endcomment %}
					<div class="merchant">
						<div class="merchant-left">
							<img src="{{ category.image }}" class="merchant-logo">
						</div>
						<div class="merchant-right">
							<span>{{ num_coupons }}</span>
							<br>
							coupons
						</div>
					</div>
					<hr>
					<div class="filters">
						<h4>Filters</h4>
						<b>TYPE</b>
						<div class="filter-links">
							Select: <a href="javascript:select_filters('all');">All</a> | <a href="javascript:select_filters('none');">None</a>
						</div>
						<div class="filter-icons">
							<div class="filter-container coupon-code" id="coupon_code">
								<div class="filter-icon coupon-code-icon selected"></div>
								Coupon Codes
							</div>
							<div class="filter-container shipping" id="free_shipping">
								<div class="filter-icon shipping-icon selected"></div>
								Free Shipping
							</div>
							<div class="filter-container on-sale last" id="onsale">
								<div class="filter-icon on-sale-icon selected"></div>
								On Sale
							</div>
							<div class="filter-container groceries" id="groceries">
								<div class="filter-icon groceries-icon selected"></div>
								Groceries
							</div>
							<div class="filter-container printable" id="printable">
								<div class="filter-icon printable-icon selected"></div>
								Printables
							</div>
							<div class="filter-container freebies last" id="freebies">
								<div class="filter-icon freebies-icon selected"></div>
								Freebies
							</div>
						</div>

					</div>
				</div>
				<div class="main-rail">
					<div class="top-labels-container">
						<div class="main-labels">
							<a href="{% url 'web.views.main.index' %}">Home</a>
							>
							<a href="{% url 'web.views.main.categories' %}">Categories</a>
							>
							{{ category.name }}
						</div>
						<div class="sorting">
							Sort by
							<div class="sorting-toggle">
								<div class="sorting-item">
									<a href="javascript:void(null);" class="expiring_soon">Expiring soon</a>
								</div>
								<div class="sorting-item selected-sorting">
									<a href="javascript:void(null);" class="popularity">Popularity</a>
								</div>
								<div class="sorting-item sorting-item-last">
									<a href="javascript:void(null);" class="newest">Newest</a>
								</div>
							</div>
						</div>
					</div>
					<div class="coupons {% if num_pages > 1 %}more-coupons{% endif %}">
						{% for coupon in coupons %}
							<div class="coupon-container {% if forloop.counter|divisibleby:3 %}coupon-last{% endif %}">
								<div class="coupon-body">
									<div class="coupon-header">
										{% if coupon.coupon_type == 'free_shipping' %}
											<div class="coupon-left-label free-shipping-label">
												<img src="/static/img/free_shipping_icon.png">Free Shipping
											</div>
										{% elif coupon.coupon_type == 'on_sale' %}
											<div class="coupon-left-label on-sale-label">
												<img src="/static/img/on_sale_icon.png">On Sale
											</div>
										{% elif coupon.coupon_type == 'groceries' %}
											<div class="coupon-left-label groceries-label">
												<img src="/static/img/groceries_icon.png">Groceries
											</div>
										{% elif coupon.coupon_type == 'coupon' %}
											<div class="coupon-left-label coupon-code-label">
												<img src="/static/img/coupon_code_icon.png">Coupon
											</div>
										{% elif coupon.coupon_type == 'printable' %}
											<div class="coupon-left-label printable-label">
												<img src="/static/img/printable_icon.png">Printables
											</div>
										{% endif %}
									</div>
									<hr>
									<h1 class="short-description">{{ coupon.short_desc }}</h1>
									{{ coupon.get_description }}<br>
									<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
										<a href="{% url 'web.views.main.coupons_for_company' company_name=coupon.merchant.name_slug company_id=coupon.merchant.id %}" target="_blank" class="merchant-link">
											<img src="{{ coupon.merchant.get_image }}">
										</a>
								</div>
								<div class="use-coupon">
									<a href="{{ coupon.success_path }}">Use Coupon</a>
								</div>
								<div class="coupon-bottom">
									{% comment %}
										<div class="coupon-left-bottom">
											<a href="#">
												<img src="/static/img/save_coupon.png">
												Save
											</a>
										</div>
									{% endcomment %}
									<div class="coupon-right-bottom">
										Share
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ coupon.full_success_path|urlencode }}"><img src="/static/img/facebook_share_icon.png" target="_blank"></a>
										<a href="https://twitter.com/share?url={{ coupon.full_success_path|urlencode }}" target="_blank"><img src="/static/img/twitter_share_icon.png"></a>
										<a href="#"><img src="/static/img/email_share_icon.png"></a>
									</div>
								</div>
							</div>
						{% endfor %}
						<!--<div class="coupon-container coupon-banner coupon-last"></div>-->
						<br clear="both">
					</div>
					
				</div>
			</div>
			{% endblock %}
