{% extends "base.html" %}
			
			{% block title %}{{ merchant.name }} Coupons | Hand Verified Discounts @ PushPenny{% endblock %}
			
			{% block head %}
			    {{ block.super }}
				{% if coupon_id %}
				 	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
				{% endif %}
				<meta name="description" content="{{ merchant.name }} Coupons | Hand Verified Discounts @ PushPenny">
				{% if current_page.has_previous %}
	            	{% if current_page.previous_page_number == 1 %}
	            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.coupons_for_company' company_name=merchant.name_slug %}" />
	            	{% else %}
	            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.coupons_for_company' current_page=current_page.previous_page_number company_name=merchant.name_slug %}" />
	        		{% endif %}
	        	{% endif %}
	        	{% if current_page.has_next %}
	           		{% if current_page.next_page_number == 1 %}
	           			<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.coupons_for_company' company_name=merchant.name_slug %}" />
	           		{% else %}
	            		<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.coupons_for_company' current_page=current_page.next_page_number company_name=merchant.name_slug %}" />
	        		{% endif %}
	        	{% endif %}
	        	{% if coupon %}
	        		<meta property="og:image" content="{{ coupon.og_image }}"/>
			        <meta property="og:title" content="{{ coupon.og_title }}"/>
			        <meta property="og:description" content="{{ coupon.og_description }}"/>
			        <meta property="og:url" content="{{ coupon.og_url }}"/>
	        	{% endif %}
	        	<link rel="canonical" href="http://{{ request.get_host }}{% url 'web.views.main.coupons_for_company' company_name=merchant.name_slug %}">
	        {% endblock %}

			{% block content %}
			<div class="row middle-container index-container">
				<div class="left-rail visible-md visible-lg">
					<div class="top-labels">
						<h1>{{ merchant.name }}	Coupons</h1>
						<a href="{{ merchant.link }}" target="_blank">{{ merchant.link }}</a>
					</div>
					{% comment %}
						<button type="button" class="btn-follow"><img src="/static/img/follow_icon.png">Follow</button>
					{% endcomment %}
					<div class="merchant">
						<div class="merchant-left">
							<img src="{{ merchant.image }}" class="merchant-logo">
						</div>
						<div class="merchant-right">
							<span>{{ num_coupons }}</span>
							<br>
							coupons
						</div>
					</div>
					<hr>
					<div class="filters">
						<h4>Filters</h4>
						<b>TYPE</b>
						<div class="filter-links">
							Select: <a href="javascript:select_filters('all');">All</a> | <a href="javascript:select_filters('none');">None</a>
						</div>
						<div class="filter-icons">
							<div class="filter-container coupon-code" id="coupon_code">
								<div class="filter-icon coupon-code-icon selected"></div>
								Coupon Codes
							</div>
							<div class="filter-container shipping" id="free_shipping">
								<div class="filter-icon shipping-icon selected"></div>
								Free Shipping
							</div>
							<div class="filter-container on-sale last" id="onsale">
								<div class="filter-icon on-sale-icon selected"></div>
								On Sale
							</div>
							<div class="filter-container groceries" id="groceries">
								<div class="filter-icon groceries-icon selected"></div>
								Groceries
							</div>
							<div class="filter-container printable" id="printable">
								<div class="filter-icon printable-icon selected"></div>
								Printables
							</div>
							<div class="filter-container freebies last" id="freebies">
								<div class="filter-icon freebies-icon selected"></div>
								Freebies
							</div>
						</div>

					</div>
					<div class="categories">
						<b>CATEGORY</b>
						<div class="filter-links">
							Select: <a href="javascript:select_categories('all');">All</a> | <a href="javascript:select_categories('none');">None</a>
						</div>
						{% for category in coupon_categories %}
							<div class="category {% if forloop.counter > 9 %}hidden{% endif %}">
								<a href="javascript:void(null);" id="{{ category.id }}">{{ category.name }}</a>
							</div>
							{% if forloop.counter == 9 %}
								<div class="more-categories">
									<img src="/static/img/category-arrow.png">
									<a href="javascript:void(null);">See more categories</a>
									<img src="/static/img/category-arrow.png">
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<hr>
					<div class="similar-stores">
						<h4>Similar Stores</h4>
						{% for store in merchant.similar.all %}
							<div class="similar-store">
								<a href="{% url 'web.views.main.coupons_for_company' company_name=store.name_slug %}">
									<img src="{{ store.image }}" class="merchant-logo">
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="center-mobile-rail bottom-shadow hidden-md hidden-lg">
					<div class="center-mobile-label">{{ merchant.name }} coupons</div>
					<div class="left-mobile-rail">
						<div class="merchant">
							<div class="merchant-left">
								<img src="{{ merchant.image }}" class="merchant-logo">
							</div>
							<div class="merchant-right">
								<span>{{ num_coupons }}</span>
								<br>
								coupons
							</div>
						</div>
					</div>
					<div class="right-mobile-rail">
						<div class="filter">Filter
							<div class="mobile-expand">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</div>
					</div>
					<br clear="both">
					<div class="mobile-filters hidden">
						<div class="top-labels-container coupon-types">
							<div class="main-labels index-labels">
								<div class="expandable">
									<div class="expandable-label">
										Coupon type:
									</div>
									<div class="expandable-selected">
										<ul class="mobile-coupon-type expanded-choices coupon-type-select">
											<li class="selected" id="coupon_code">Coupon Codes</li>
											<li id="free_shipping">Free Shipping</li>
											<li id="onsale">On Sale</li>
											<li id="groceries">Groceries</li>
											<li id="printable">Printables</li>
											<li id="freebies">Freebies</li>
										</ul>
										<div class="coupons-types-expand">
											<span class="glyphicon glyphicon-chevron-down"></span>
										</div>										
									</div>
								</div>
								
							</div>
						</div>
						<br clear="both">
						<div class="top-labels-container coupon-types ">
							<div class="main-labels index-labels">
								<div class="expandable">
									<div class="expandable-label">
										Sort by:
									</div>
									<div class="expandable-selected">
										<ul class="mobile-coupon-type expanded-choices ordering-select">
											<li class="selected" id="expiring_soon">Expiring Soon</li>
											<li id="popularity">Popularity</li>
											<li id="newest">Newest</li>
										</ul>
										<div class="coupons-types-expand">
											<span class="glyphicon glyphicon-chevron-down"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-rail">
					<div class="top-labels-container visible-md visible-lg">
						<div class="main-labels">
							<a href="{% url 'web.views.main.index' %}">Home</a>
							>
							<a href="{% url 'web.views.main.stores' %}">Retailers</a>
							>
							{{ merchant.name }}
						</div>
						<div class="sorting">
							Sort by:
							<div class="sorting-toggle">
								<div class="sorting-item">
									<a href="javascript:void(null);" class="expiring_soon">Expiring soon</a>
								</div>
								<div class="sorting-item selected-sorting">
									<a href="javascript:void(null);" class="popularity">Popularity</a>
								</div>
								<div class="sorting-item sorting-item-last">
									<a href="javascript:void(null);" class="newest">Newest</a>
								</div>
							</div>
						</div>
					</div>
					<div class="coupons company-coupons {% if num_pages > 1 %}more-coupons{% endif %}">
						{% with company_coupons=True %}
							{% include 'coupons_list.html' %}
						{% endwith %}
					</div>
					<ul class="pagination">
		          		{% for page in pages %}
		                	<li>
		                  		<a href="{% url 'web.views.main.coupons_for_company' current_page=page company_name=merchant.name_slug %}">{{ page }}</a>
		                  	</li>
		                  	{% if num_pages > 12 %}
		                  		{% if separators == 2 and forloop.counter == 3 or separators == 2 and forloop.counter == 7 or separators == 1 and forloop.counter == 8 %}
		                    		<li>...</li>
		                    	{% endif %}
		                  	{% endif %}
		          		{% endfor %}
	        		</ul>
				</div>
			</div>
			{% endblock %}
