{% extends "base.html" %}
{% load humanize %}
{% block header_block %}

            <h1 class="text-center">{{ merchant.name }} Coupons</h1>


{% endblock %}  {# header_block #}

{% block fbtags %}
    <meta property="og:image" content="{{ BASE_URL_NO_APPENDED_SLASH }}{{ merchant.get_image }}"/>
    <meta property="og:title" content="Hand Verified Coupon Codes for {{ merchant.name }} from PennyWyse"/>
    <meta property="og:url" content="{{ CURRENT_URL }}"/>
{% endblock %}

{% block main %}


<div role="main">
            
            <div class="stripe-regular" style="border-bottom: 2px solid #DDDDDD">
            
              <section class="company-box">
                <div class="row">
                  <div class="column">
                    <div class="wrapper-3 tertiary">
                      <div class="row collapse">
                        <div class="large-8 columns">
                          <div class="splitter-right">
                            <div class="inner">
                              <div class="row collapse">
                                <div class="large-4 columns">
                                    <a href="/coupons/{{ merchant.name_slug }}/{{ merchant.id }}/">
                                      <figure>
                                          <img src="{{ merchant.get_image }}" alt="" >
                                      </figure>
                                    </a>
                                </div>
                                <div class="large-8 columns">
                                  <div class="space-left">
                                    <h2 class="alt" style="font-size:2em;"><a href="/coupons/{{ merchant.name_slug }}/{{ merchant.id }}/">{{ merchant.name }}</a></h2>
                                    <div class="text-content">
                                      <p>{{ merchant.description }}
                                      {#                                      <!--{% for category in merchant.get_coupon_categories %}-->                                        <!--{{ category.name }} Coupons{% if forloop.last %}{% else %},{% endif %}--><!--{% endfor %}-->#}
                                      </p>
                                    </div>
                                    <a class="input button green secondary responsive fixed" href="{{ merchant.skimlinks }}" target="_blank">Visit Store</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="large-4 columns">
                          <div class="splitter-left">
                            <div class="inner dark-bg">
                              <div class="row">
                                <div class="large-6 columns text-center">
                                  <h3>Total Coupons</h3>
                                </div>
                                <div class="large-6 columns">
                                  <div class="coupons-count">
                                    <p class="value primary">{{ num_coupons }}</p>
                                    <h4>coupons</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--<div class="inner">-->
                              <!--<ul class="rr micro-block-grid-2 small-block-grid-4 large-block-grid-2 photos">-->
                                <!--<li>-->
                                  <!--<a href="#">-->
                                    <!--<img src="img/ph/130x130/1.jpg" alt="">-->
                                  <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                  <!--<a href="#">-->
                                    <!--<img src="img/ph/130x130/2.jpg" alt="">-->
                                  <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                  <!--<a href="#">-->
                                    <!--<img src="img/ph/130x130/3.jpg" alt="">-->
                                  <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                  <!--<a href="#">-->
                                    <!--<img src="img/ph/130x130/4.jpg" alt="">-->
                                  <!--</a>-->
                                <!--</li>-->
                              <!--</ul>-->
                            <!--</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <div class="row">                
                
                <div class="large-9 columns">
                                    
                  <div class="coupons-wrapper">
                    <div class="row">
                      <div class="large-12 columns">
                        <h2>Coupons <span class="alt">by</span> <a href="/coupons/{{ merchant.name_slug }}/{{ merchant.id }}/">{{ merchant.name }}</a> <span>- {{ num_coupons }} of {{ total_coupon_count }} coupons</span></h2>
                      </div>
                      <!--<div class="large-4 columns">-->
                        <!--<div class="ui-links sort-items">-->
                          <!--<a href="#">Popular</a> | <a href="#" class="current">Newest</a>-->
                        <!--</div>-->
                      <!--</div>-->
                    </div>
                    
                    <ul class="rr items-landscape">

                        {% for coupon in coupons %}

                      <li class="wrapper-3">
                        <div class="row">
                          <div class="large-4 small-12 columns">
                            <figure>
                                <img src="{{ coupon.get_image }}" alt="" style="display:normal;max-height: 110px;">
                            </figure>
                          </div>
                          <div class="large-5 small-8 columns">
                            <div class="col-middle">
                              <h2 class="alt"><a target="_blank" href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/">{{ coupon.description }}</a></h2>
                              <p class="text secondary">
                                {{ merchant.name }}: {{ coupon.description }}
                                  {% if coupon.end %}
                                  <br /><br />Offer ends: {{ coupon.end|naturalday }}
                                  {% endif %}
                              </p>
                            </div>
                          </div>
                          <div class="large-3 small-4 columns">
                            <div class="col-right">
                              <p class="value secondary">{{ coupon.short_desc }}</p>
                              <h6>&nbsp;</h6>
                              <a target="_blank" href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/" class="input button green secondary responsive">Use Coupon</a>
                            </div>
                          </div>
                        </div>
                      </li>

                        {% endfor %}

                    </ul>
                  </div>
                  
                  <ul class="rr pagination">
                    {% for page in pages %}
                        <li style="width: 55px;text-align: center;" {% if current_page = page %}class="current"{% endif %}>
                            <a style="padding:10px 0px;" href="/coupons/{{ merchant.name_slug }}/{{ merchant.id }}/page/{{ page }}/{% if comma_categories %}categories/{{ comma_categories }}/{% endif %}">{{ page }}</a>
                        </li>
                    {% endfor %}
                  </ul>
                  
                </div>

                <aside class="large-3 columns main-sidebar bg">

                    <div class="wrapper-3 secondary block">
                        <h2 class="alt inner">Filter Coupons</h2>

                        <h5 class="inner">Categories &nbsp;(<a id="clear_categories" href="">clear</a>)</h5>

                        <ul class="rr inner checklist">
                            <form method="POST" action="/coupons/{{ merchant.name_slug }}/{{ merchant.id }}/page/1/" id="filter_form">
                                {% csrf_token %}
                                {% for category in coupon_categories %}
                                <li class="cf">
                                        <label>
                                            <span class="checkbox"><input name="{{ category.category.id}}" type="checkbox" {% if category.active %}checked="checked"{% endif %}></span>
                                            <span>{{ category.category.name }}</span>
                                        </label>
                                        {#<!--<p class="rr count-bullet">56</p>-->#}
                                </li>
                                {% endfor %}
                            </form>
                        </ul>
                    </div>

                </aside>
              </div>
            </div>
            
          </div>

{% endblock %} {# main #}

{% block end_of_body %}
<script type="text/javascript">
    try{
        mixpanel.track("Company", {
            "company" : "{{ merchant.name_slug }}",
            "id"      : "{{ merchant.id }}"
        });
    }catch(e){}
</script>
{% endblock %}
