<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="1;url={{coupon.local_path}}">
</head>
<body>
<!-- Google Code for Coupon Clickthrough Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 977847738;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "35TZCO67ygcQuouj0gM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977847738/?value=0&amp;label=35TZCO67ygcQuouj0gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
