{% extends "base.html" %}

{% block header_block %}

            <div class="main-slider-wrap">
              <div class="row">
                <div class="column">
                  <div class="main-slider flexslider white">
                    <ul class="slides">
                        {% for coupon in featured_coupons %}
                      <li>
                        <p class="h1"><a target="_blank" rel="comm" href="/coupon/{{ coupon.coupon.merchant.name_slug }}/{{ coupon.coupon.desc_slug }}/{{ coupon.coupon.id }}/">{{ coupon.coupon.short_desc }} at {{ coupon.coupon.merchant.name }}</a></p>
                        <div class="row">
                          <div class="large-8 columns large-centered">
                            <div class="content">
                              <p class="caption">
                                <a target="_blank" rel="comm" href="/coupon/{{ coupon.coupon.merchant.name_slug }}/{{ coupon.coupon.desc_slug }}/{{ coupon.coupon.id }}/">{{ coupon.coupon.description }}</a>
                                <a target="_blank" rel="comm" href="/coupon/{{ coupon.coupon.merchant.name_slug }}/{{ coupon.coupon.desc_slug }}/{{ coupon.coupon.id }}/" class="ir icon tag">Learn More</a>
                              </p>
                                <a href="/coupons/{{ coupon.coupon.merchant.name_slug }}/{{ coupon.coupon.merchant.id }}/">
                                  <figure>
                                    <img src="{{ coupon.coupon.merchant.get_image }}" alt="{{ coupon.coupon.merchant.name }}" style="max-height: 100px">
                                  </figure>
                                </a>
                            </div>
                          </div>
                        </div>
                      </li>
                        {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}


{% block main %}

          <div role="main">


            <div class="stripe-regular items-carousel-wrap">
              <div class="row">
                <div class="column">
                  <h2>New Coupons</h2>
                </div>
              </div>
              <div class="row collapse">
                <div class="column">
                  <div class="items-carousel flexslider">
                    <ul class="rr slides">
                        {% for coupon in new_coupons %}
                        <li>
                            <div class="wrapper-3 item-thumb"  data-rid="{{ coupon.ref_id }}">
                                <div class="top">
                                    <a href="/coupons/{{ coupon.merchant.name_slug }}/{{ coupon.merchant.id }}/">
                                        <figure class="prodimg">
                                            <img src="{{ coupon.get_image }}" alt="{{ coupon.description }}" style="display:normal">
                                        </figure>
                                    </a>
                                    <h2 class="alt" style="max-height: 45px; overflow: hidden;"><a target="_blank" href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/">{{ coupon.description }}</a></h2>
                                </div>
                                <div class="bottom">
                                    <p class="value secondary">{{ coupon.short_desc }}</p>
                                    <h6><a href="/coupons/{{ coupon.merchant.name_slug }}/">{{ coupon.merchant.name }}</a></h6>
                                    <a href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/" target="_blank" class="input button green secondary">Learn more</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="stripe-white big items-carousel-wrap">
              <div class="row">
                <div class="column">
                  <h2>Popular Coupons</h2>
                </div>
              </div>
              <div class="row collapse">
                <div class="column">
                  <div class="items-carousel flexslider">
                    <ul class="rr slides">

                        {% for coupon in pop_coupons %}
                        <li>
                            <div class="wrapper-3-alt item-thumb" data-rid="{{ coupon.ref_id }}">
                                <div class="top">
                                    <a href="/coupons/{{ coupon.merchant.name_slug }}/{{ coupon.merchant.id }}/">
                                        <figure class="prodimg">
                                            <img src="{{ coupon.get_image }}" alt="{{ coupon.description }}" style="display:normal">
                                        </figure>
                                    </a>
                                    <h2 class="alt" style="max-height: 45px; overflow: hidden;"><a target="_blank" href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/">{{ coupon.description }}</a></h2>
                                </div>
                                <div class="bottom">
                                    <p class="value secondary">{{ coupon.short_desc }}</p>
                                    <h6><a href="/coupons/{{ coupon.merchant.name_slug }}/">{{ coupon.merchant.name }}</a></h6>
                                    <a target="_blank" href="/coupon/{{ coupon.merchant.name_slug }}/{{ coupon.desc_slug }}/{{ coupon.id }}/" class="input button green secondary">Learn More</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

{% endblock %}

{% block end_of_body %}
<script type="text/javascript">
    try{
        mixpanel.track("Visit");
    }catch(e){}
</script>
{% endblock %}



