{% extends "base.html" %}

		{% block head %}
			{{ block.super }}
			<meta name="description" content="PushPenny is America's best and largest source for working coupon codes. All codes on PushPenny are verified by a team right here in the US. We have all the best coupons and deals from over 6,000 brands and retailers. So if its a great coupon, we will have it and we will give you the simplest way to find it and use it.">
			{% if current_page.has_previous %}
            	{% if current_page.previous_page_number == 1 %}
            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.index' %}" />
            	{% else %}
            		<link rel="prev" href="http://{{ request.get_host }}{% url 'web.views.main.index' current_page=current_page.previous_page_number %}" />
        		{% endif %}
        	{% endif %}
        	{% if current_page.has_next %}
            	{% if current_page.next_page_number == 1 %}
            		<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.index' %}" />
            	{% else %}
            		<link rel="next" href="http://{{ request.get_host }}{% url 'web.views.main.index' current_page=current_page.next_page_number %}" />
        		{% endif %}
        	{% endif %}
        	{% if current_page.next_page_number == 2 %} 
        		<link rel="canonical" href="http://{{ request.get_host }}{% url 'web.views.main.index' %}">
			{% endif %}
		{% endblock %}
		
		{% block content %}
			<div class="row middle-container top-landing-container">
				<div class="visible-md visible-lg">
					<div class="top-left-container">
						<div class="advantages-header">What Makes PushPenny<br>So Great?</div>
						<div class="advantages-list">
							<ul>
								<li class="al1">One of the largest sources of verified coupon codes</li>
								<li class="al2">Backed by the PushPenny promise</li>
								<li class="al3">PushPenny Magazine is the ultimate guide to frugal living</li>
								<li class="al4">Huge Database of local deals and offers</li>
							</ul>
						</div>
					</div>
					
					{% with top_coupons.0 as top_coupon %}
	
								{% for coupon in top_coupon.popular.all|slice:":2"  %}
									<div class="top-popular-container {% if forloop.counter|divisibleby:"2" %}no-right-margin{% endif %}" {% if coupon.background_image %}style="background-image: url('{{ coupon.background_image.url }}');"{% endif %}>
										<a class="new-use-link" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
											<div class="top-coupon-middle">
												<div class="top-coupon-body">
													<div class="top-short-description"><h2 class="pdescription">{{ coupon.short_desc }} </h2>at 
														<span class="mlink" data-href="{% url 'web.views.main.coupons_for_company' company_name=coupon.merchant.name_slug company_id=coupon.merchant.id %}">
															{{ coupon.merchant.name }}
														</span>
													</div>
													<div class="popular-coupon-description">
														{{ coupon.description }}
													</div>
													<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
												</div>
											</div>
										</a>
										<div class="top-coupon-bottom">
											<div class="new-use-coupon">
												<div class="top-left-bottom">
													<div class="coupon-left-bottom">
														<span>Share</span>
														<a href="https://www.facebook.com/sharer/sharer.php?u={{ coupon.full_success_path|urlencode:"" }}" class="facebook-share-url"><img src="/static/img/facebook_share_icon_20.png" target="_blank"></a>
														<a href="{{ coupon.twitter_share_url }}" target="_blank"><img src="/static/img/twitter_share_icon_20.png"></a>
														<a href="mailto:?body={{ coupon.full_success_path|urlencode }}"><img src="/static/img/email_share_icon_20.png"></a>
													</div>
												</div>
												<div class="top-right-bottom">
													<a class="new-use-link" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
														Use Coupon
													</a>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
			
					{% endwith %}
				</div>
				<div class="hidden-md hidden-lg mobile-top-coupons">
					{% with top_coupons.0 as top_coupon %}
	
								{% for coupon in top_coupon.popular.all|slice:":2"  %}
									<div class="top-popular-container" {% if coupon.background_image %}style="background-image: url('{{ coupon.background_image.url }}');"{% endif %}>
									<a class="new-use-link" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
										<div class="top-coupon-middle">
											<div class="top-coupon-body">
												<div class="top-short-description"><h2>{{ coupon.short_desc }} </h2>at 
													<span class="lmlink" data-href="{% url 'web.views.main.coupons_for_company' company_name=coupon.merchant.name_slug company_id=coupon.merchant.id %}">
														{{ coupon.merchant.name }}
													</span>
												</div>
												<div class="coupon-description">
													{{ coupon.description }}
												</div>
												<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
											</div>
										</div>
									</a>
									<a class="use-coupon top-use-coupon" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
										Use Coupon
									</a>
								</div>
								{% endfor %}
			
					{% endwith %}
					<div class="top-left-container">
						<div class="advantages-header">What Makes PushPenny<br>So Great?</div>
						<div class="advantages-list">
							<ul>
								<li class="al1">One of the largest sources of verified coupon codes</li>
								<li class="al2">Backed by the PushPenny promise</li>
								<li class="al3">PushPenny Magazine is the ultimate guide to frugal living</li>
								<li class="al4">Huge Database of local deals and offers</li>
							</ul>
						</div>
					</div>
					{% with top_coupons.0 as top_coupon %}
							<div class="mfc" id="mfc-{{ top_coupon.id }}">
								<h4>Popular coupons</h4>
								{% for coupon in top_coupon.featured.all %}
										<div class="coupon-container ">
											<div class="coupon-body">
												<div class="coupon-top-body" id="{{ coupon.id }}">
													<div class="coupon-header">
														<div class="coupon-left-label">
															{% if coupon.coupon_type == 'free_shipping' %}
																<img src="/static/img/free_shipping_icon.png">Free Shipping
															{% elif coupon.coupon_type == 'onsale' %}
																<img src="/static/img/on_sale_icon.png">On Sale
															{% elif coupon.coupon_type == 'groceries' %}
																<img src="/static/img/groceries_icon.png">Groceries
															{% elif coupon.coupon_type == 'coupon_code' %}
																<img src="/static/img/coupon_code_icon.png">Coupon
															{% elif coupon.coupon_type == 'printable' %}
																<img src="/static/img/printable_icon.png">Printables
															{% elif coupon.coupon_type == 'freebies' %}
																<img src="/static/img/freebies_icon.png">Freebies
															{% endif %}
														</div>
													</div>
													<hr>
													<h2 class="short-description">{{ coupon.short_desc }}</h2>
													<div class="coupon-description">
														{{ coupon.description|safe }}
													</div>
													<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
												</div>	
												<a href="{% url 'web.views.main.coupons_for_company' company_name=coupon.merchant.name_slug %}" target="_blank" class="merchant-link">
													<img src="{{ coupon.merchant.s3_image }}">
												</a>
											</div>
											<a class="use-coupon" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
												Use Coupon
											</a>
											<div class="coupon-bottom">
												<div class="coupon-right-bottom">
													Share
													<a href="https://www.facebook.com/sharer/sharer.php?u={{ coupon.full_success_path|urlencode:"" }}"><img src="/static/img/facebook_share_icon.png" target="_blank"></a>
													<a href="{{ coupon.twitter_share_url }}" target="_blank"><img src="/static/img/twitter_share_icon.png"></a>
													<a href="mailto:?body={{ coupon.full_success_path|urlencode }}"><img src="/static/img/email_share_icon.png"></a>
												</div>
											</div>
										</div>
								{% endfor %}
							</div>
						{% endwith %}
					<div class="top-stores">
							<h4>Stores</h4>
							<br clear="both">
							{% for top_coupon in top_coupons %}
								<ul class="top-popular-store mts{% if not forloop.first %} hidden{% endif %}" id="mts-{{ top_coupon.id }}">
									{% for merchant in top_coupon.stores.all %}
										<li>
											<a href="{{ merchant.local_path }}" target="_blank"><img src="{{ merchant.s3_image }}"></a>
										</li>
									{% endfor %}
								</ul>
							{% endfor %}
							<br clear="both">
						</div>
				</div>
			<div class="top-featured-containers landing-container clearfix visible-md visible-lg">
					{% with top_coupons.0 as top_coupon %}
						<div class="tfc" id="tfc-{{ top_coupon.id }}">
							<br clear="both">
							<h4>Top coupons</h4>
							{% for coupon in top_coupon.featured.all %}
								<div class="top-featured-container {% if forloop.counter|divisibleby:"4" %}no-right-margin{% endif %}">
									<a class="new-use-link" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
										<div class="top-coupon-body">
											<div class="coupon-header">
												<div class="coupon-left-label">
													{% if coupon.coupon_type == 'free_shipping' %}
														<img src="/static/img/free_shipping_icon.png">Free Shipping
													{% elif coupon.coupon_type == 'onsale' %}
														<img src="/static/img/on_sale_icon.png">On Sale
													{% elif coupon.coupon_type == 'groceries' %}
														<img src="/static/img/groceries_icon.png">Groceries
													{% elif coupon.coupon_type == 'coupon_code' %}
														<img src="/static/img/coupon_code_icon.png">Coupon
													{% elif coupon.coupon_type == 'printable' %}
														<img src="/static/img/printable_icon.png">Printables
													{% elif coupon.coupon_type == 'freebies' %}
														<img src="/static/img/freebies_icon.png">Freebies
													{% endif %}
												</div>
											</div>
											<hr class="landing-separator">
											<div class="featured-left-body">
												<div class="top-short-description"><h2 class="fdescription">{{ coupon.short_desc }}</h2></div>
												<span class="mlink" data-href="{% url 'web.views.main.coupons_for_company' company_name=coupon.merchant.name_slug company_id=coupon.merchant.id %}">
													<img src="{{ coupon.merchant.s3_image }}">
												</span>
											</div>
											<div class="featured-right-body">
												<div class="top-coupon-description">
													{{ coupon.description }}
												</div>
												<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
											</div>
										</div>
									</a>
									<div class="top-coupon-bottom">
										<div class="new-use-coupon">
											<div class="featured-left-bottom">
												<div class="coupon-left-bottom">
													<a href="https://www.facebook.com/sharer/sharer.php?u={{ coupon.full_success_path|urlencode:"" }}" class="facebook-share-url"><img src="/static/img/facebook_share_icon_20.png" target="_blank"></a>
													<a href="{{ coupon.twitter_share_url }}" target="_blank"><img src="/static/img/twitter_share_icon_20.png"></a>
													<a href="mailto:?body={{ coupon.full_success_path|urlencode }}"><img src="/static/img/email_share_icon_20.png"></a>
												</div>
											</div>
											<div class="featured-right-bottom">
												<a class="new-use-link" id="{{ coupon.id }}" href="{{ coupon.full_success_path }}" target="_blank">
													Use Coupon
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endwith %}
				</div>
			<div class="top-stores landing-container visible-md visible-lg">
					<h4>Stores</h4>
					<br clear="both">
					{% with top_coupons.0 as top_coupon %}
						<ul class="top-popular-store" id="ts-{{ top_coupon.id }}">
							{% for merchant in top_coupon.stores.all %}
								<a id="{{ merchant.id }}" href="{{ merchant.local_path }}" target="_blank" class="top-merchant-link">
									<li>
										<img src="{{ merchant.s3_image }}">
									</li>
								</a>
							{% endfor %}
						</ul>
					{% endwith %}
					<br clear="both">
					
				</div>
			<div class="row middle-container">
				<div class="main-rail index-rail landing-rail">
					{% comment %}
						<div class="top-labels-container top-labels-index">
							<div class="main-labels index-labels">
								<a href="javascript:void(null);" class="active" id="new">New</a>
								<a href="javascript:void(null);" id="trending">Trending</a>
							</div>
						</div>
					{% endcomment %}
					<h4>New Coupons</h4>
					<div class="coupons more-coupons">
						{% include 'coupons_list.html' %}
					</div>
					<ul class="pagination">
		          		{% for page in pages %}
		                	<li>
		                  		{% if page == 1 %}
		                  			<a href="{% url 'web.views.main.index' %}">{{ page }}</a>
		                  		{% else %}
		                  			<a href="{% url 'web.views.main.index' current_page=page %}">{{ page }}</a>
		                  		{% endif %}
		                  	</li>
		                  	{% if num_pages > 12 %}
		                  		{% if separators == 2 and forloop.counter == 3 or separators == 2 and forloop.counter == 7 or separators == 1 and forloop.counter == 8 %}
		                    		<li>...</li>
		                    	{% endif %}
		                  	{% endif %}
		          		{% endfor %}
	        		</ul>					
				</div>
			</div>
			{% endblock %}
