{% extends "base.html" %}
		
		{% block content %}
			<div class="row middle-container not-found-container">
				<div class="main-rail index-rail landing-rail">
					<div class="coupon-container coupon-body not-found">
						<div class="main-not-found clearfix">	
							<div class="left-not-found"><img src="/static/img/404_image.png"></div>
							<div class="right-not-found">
								<h4>Whoops! Piggy couldn't find that page.</h4>
								<h5>We picked some great coupons for you though. Check them out!</h5>
							</div>
						</div>
					</div>
					<div class="coupons more-coupons"></div>	
				</div>
			</div>
		{% endblock %}
