<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{ WEBSITE_NAME }}: Coupons from {{ coupon.merchant.name }} - {{ coupon.description }}</title>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/favicon.png" />

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link href="/static/css/coupon_frame.css" media="screen" rel="stylesheet" type="text/css" />

    <script>
        //function to fix height of iframe!
        var calcHeight = function() {
            var headerDimensions = $('#header-bar').height();
            $('#preview-frame').height($(window).height() - headerDimensions);
        }

        $(document).ready(function() {
            calcHeight();
            $('#header-bar a.close').mouseover(function() {
                $('#header-bar a.close').addClass('activated');
            }).mouseout(function() {
                $('#header-bar a.close').removeClass('activated');
            });
        });

        $(window).resize(function() {
            calcHeight();
        }).load(function() {
            calcHeight();
        });
    </script>

    {% block fbtags %}
    <meta property="og:image" content="{{ BASE_URL_NO_APPENDED_SLASH }}{{ coupon.merchant.get_image }}"/>
    <meta property="og:title" content="{{ coupon.merchant.name }}: {{ coupon.description }}. A Hand Verified Coupon Code for {{ coupon.merchant.name }} from PennyWyse."/>
    <meta property="og:url" content="{{ CURRENT_URL }}"/>
    {% endblock %}
<body>
<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
    <!--var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--if (d.getElementById(id)) return;-->
    <!--js = d.createElement(s); js.id = id;-->
    <!--js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=405821766193456";-->
    <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->
<div id="header-bar">

    <div class="row">
        <div class="large-2 small-12 columns">
            <div class="logo">
                <a href="/">{{ WEBSITE_NAME }}</a>
            </div>
        </div>
        <div class="large-8 small-12 columns">
            <div class="coupon-data-container">
                <p class="coupon-data">
                    Coupon from {{ coupon.merchant.name }}: {{ coupon.description }}. {% if coupon.code %}Use coupon code <span class="tag">{{ coupon.code }}</span>{% else %}<strong>No code necessary</strong>.{% endif %}
                </p>
            </div>
        </div>
        <div class="large-2 small-12 columns">
            <p class="meta-data">
                <a class="purchase" href="{{ back_url }}">&lt;&lt; Back</a>
                <a class="close" href="{{ coupon.skimlinks }}">X Remove</a>
            </p>
        </div>
    </div>
    <!--<a class="site-loopback" href="/">{{ WEBSITE_NAME }}</a>-->

    <!--<p class="coupon-data">-->
        <!--Coupon from {{ coupon.merchant.name }}: {{ coupon.description }}. {% if coupon.code %}Use coupon code <span class="tag">{{ coupon.code }}</span>{% else %}<strong>No code necessary</strong>.{% endif %}-->
    <!--</p>-->

    <!--&lt;!&ndash;<iframe src="//www.facebook.com/plugins/like.php?href={{ path }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=405821766193456" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>&ndash;&gt;-->
    <!--&lt;!&ndash;<iframe src="//www.facebook.com/plugins/like.php?href={{ path }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=405821766193456" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="fb-like" data-href="http://www.pennywyse.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>&ndash;&gt;-->

    <!--<p class="meta-data">-->
        <!--<a class="purchase" href="{{ back_url }}">&lt;&lt; Go Back</a>-->
        <!--<a class="close" href="{{ coupon.skimlinks }}">X Remove Bar</a>-->
    <!--</p>-->

</div>

<iframe id="preview-frame" src="{{ coupon.skimlinks }}" name="preview-frame" frameborder="0" noresize="noresize">
</iframe>

</body>
</html>
