{% extends "base.html" %}

			{% block content %}
			<div class="row middle-container index-container">
				<div class="main-rail index-rail top-labels-container">
						<div class="main-labels index-labels">
							<a href="javascript:void(null);" class="active" id="new">New</a>
							<a href="javascript:void(null);" id="trending">Trending</a>
							<a href="javascript:void(null);" id="expiring_soon">Expiring Soon</a>
							<ul class="index-labels-dropdown visible-lg visible-md">
								<li>
									<a href="javascript:void(null);" id="coupon_type">
										Coupon Type 
									</a>
									<span class="shape"></span>
								</li>
								<li>
									<ul class="coupon-type">
										<li id="free_shipping">Free Shipping</li>
										<li id="on_sale">On Sale</li>
										<li id="groceries">Groceries</li>
										<li id="coupon">Coupon</li>
										<li id="printabl">Printables</li>
										<li id="gift">Freebies</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="top-labels-container coupon-types ">
							<div class="main-labels index-labels">
								<div class="expandable">
									Coupon type: <span>{{ top_coupons.0.name }}</span>
									<div class="coupons-types-expand">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</div>
								</div>
								<ul class="mobile-coupon-type expanded-choices">
									{% for top_coupon in top_coupons %}
										<li id="{{ top_coupon.id }}">{{ top_coupon.name }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				<br clear="both">
				{% if not coupons and suggested_merchants %}
					<div class="main-rail index-rail landing-rail">
						<div class="coupon-container coupon-body search-merchants-container no-results">
							Hm, it looks like there are <b>no matching results</b>, but here are some other stores and coupons you might like.
						</div>
					</div>
				{% endif %}
				<div class="left-rail search-rail  visible-lg visible-md">
					{% if suggested_merchants and coupons %}
						<div class="coupon-container coupon-body search-merchants-container no-merchants">
							We couldn't find any stores with that name, but there are some other stores you might like.
						</div>
					{% endif %}
					<div class="coupon-container coupon-body search-merchants-container">
						{% if merchants %}
						<a href="javascript:void(null);" class="next"><img src="/static/img/up-arrow.png" ></a>
						<div class="search-carousel">
							<ul class="search-merchants-list">
								{% for merchant in merchants %}
									<li class="search-merchant-container">
										<a href="{{ merchant.local_path }}"><img src="{{ merchant.image }}"></a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<a href="javascript:void(null);" class="prev"><img src="/static/img/down-arrow.png" ></a>
						{% endif %}
						{% if suggested_merchants %}
							<div class="suggested-merchants">
								<span>You might like</span>
								<ul>
									{% for merchant in suggested_merchants %}
										<li>
											<a href="{{ merchant.local_path }}"><img src="{{ merchant.image }}"></a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
					
				</div>
				<div class="main-rail search-main-rail">
					{% if merchants and not coupons %}
						<div class="coupon-container coupon-body no-search-results">
							Hm, it looks like there <b>no matching results</b>, but we have recommended a few other things you might like.
						</div>
					{% endif %}
					<div class="coupons more-coupons">
						{% for coupon in coupons %}
							<div class="coupon-container">
								<div class="coupon-body">
									<div class="coupon-header">
										{% if coupon.coupon_type == 'free_shipping' %}
											<div class="coupon-left-label">
												<img src="/static/img/free_shipping_icon.png">Free Shipping
											</div>
										{% elif coupon.coupon_type == 'onsale' %}
											<div class="coupon-left-label">
												<img src="/static/img/on_sale_icon.png">On Sale
											</div>
										{% elif coupon.coupon_type == 'groceries' %}
											<div class="coupon-left-label">
												<img src="/static/img/groceries_icon.png">Groceries
											</div>
										{% elif coupon.coupon_type == 'coupon' %}
											<div class="coupon-left-label">
												<img src="/static/img/coupon_code_icon.png">Coupon
											</div>
										{% elif coupon.coupon_type == 'printable' %}
											<div class="coupon-left-label">
												<img src="/static/img/printable_icon.png">Printables
											</div>
										{% elif coupon.coupon_type == 'freebies' %}
											<div class="coupon-left-label">
												<img src="/static/img/freebies_icon.png">Freebies
											</div>
										{% endif %}
									</div>
									<hr>
									<h1 class="short-description">{{ coupon.short_desc }}</h1>
									<div class="coupon-description">
										{{ coupon.text }}
									</div>
									<span class="ends">Ends {{ coupon.end|date:"m/d/y" }}</span>
										<a href="{{ coupon.merchant_local_path }}" target="_blank" class="merchant-link">
											<img src="{{ coupon.merchant_image }}">
										</a>
								</div>
								<div class="use-coupon" id="{{ coupon.pk }}">
									<a href="javascript:void(null);" >Use Coupon</a>
								</div>
								<div class="coupon-bottom">
									{% comment %}
										<div class="coupon-left-bottom">
											<a href="#">
												<img src="/static/img/save_coupon.png">
												Save
											</a>
										</div>
									{% endcomment %}
									<div class="coupon-right-bottom">
										Share
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ coupon.full_success_path|urlencode:"" }}"><img src="/static/img/facebook_share_icon.png" target="_blank"></a>
										<a href="https://twitter.com/share?url={{ coupon.full_success_path|urlencode }}" target="_blank"><img src="/static/img/twitter_share_icon.png"></a>
										<a href="mailto:?body={{ coupon.full_success_path|urlencode }}"><img src="/static/img/email_share_icon.png"></a>
									</div>
								</div>
							</div>
						{% endfor %}
						<!--<div class="coupon-container coupon-banner coupon-last"></div>-->
						<br clear="both">
					</div>
					
				</div>
			</div>
			{% endblock %}
