<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/flexslider.css">          
        <link rel="stylesheet" href="css/jquery-ui-theme.css"/> 
        <link rel="stylesheet" href="css/main.css">        
        <link rel="stylesheet" href="css/mq-32.css" media="screen and (min-width: 32.5em)" />
        <link rel="stylesheet" href="css/mq-48.css" media="screen and (min-width: 48em)" />
        <link rel="stylesheet" href="css/mq-67.css" media="screen and (min-width: 67.5em)" />
        
        <!--[if (lt IE 9)&(!IEMobile)]>
          <link rel="stylesheet" href="css/foundation-ie8.css">
          <link rel="stylesheet" href="css/mq-32.css"/>
          <link rel="stylesheet" href="css/mq-48.css"/>
          <link rel="stylesheet" href="css/mq-67.css"/>
        <![endif]-->        
        
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="page coupons">
        
        
        
          <header role="banner" class="cf">
          
            <div class="top-wrap">
              <div class="row">
                <div class="large-3 columns">
                    <div class="logo">
                        <a href="index.html">Couponizer</a>
                    </div>
                    </div>
                    <nav class="large-6 columns">
                        <ul class="rr main-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li>
                              <a href="search-results.html">Extra</a>
                              <ul>
                                <li><a href="company.html">Company</a></li>
                                <li><a href="404.html">404 page</a></li>
                                <li><a href="no-results.html">No results</a></li>
                                <li><a href="search-results.html">Search results</a></li>
                              </ul>
                            </li>
                            <li class="current"><a href="coupons.html">Coupons</a></li>
                            <li><a href="post.html">Post</a></li>
                        </ul>
                    </nav>
                <div class="large-3 columns">
                  <div class="account cf">
                    <a href="#" class="input button blue tertiary icon plus">Join us</a>
                    <a href="#" class="input button transparent tertiary">Log in</a>
                  </div>
                </div>
              </div>
            </div>
            
            <h1 class="text-center">Search Results</h1>
            
            <div class="search-wrap stripe-white">
              <div class="row">
                <form action="search-results.html">
                  <div class="small-6 large-8 columns">
                    <label class="search-box">
                      <input type="text" class="input field primary" placeholder="Search listing">
                      <a href="#" class="icon clear ir" id="clear-sb">Clear</a>
                    </label>
                  </div>
                  <div class="small-3 large-2 columns">
                    <input type="submit" class="input button primary red" value="Search">
                  </div>
                  <nav class="small-3 large-2 columns">
                    <ul class="rr menu-browse">
                      <li class="input button primary">
                        <p class="label">Browse</p>
                        <ul class="rr sub">
                          <li><a href="company.html">Nike</a></li>
                          <li><a href="company.html">Ray Ban</a></li>
                          <li><a href="company.html">Amazon</a></li>
                          <li><a href="company.html">InterSport</a></li>
                          <li><a href="company.html">Big Time</a></li>
                          <li><a href="company.html">WristWatch</a></li>
                          <li><a href="company.html">GoDaddy</a></li>
                          <li><a href="company.html">SanDisk</a></li>
                          <li><a href="company.html">Nikon</a></li>
                          <li><a href="company.html">Canon</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </form>              
              </div>
            </div>
            
          </header>
          
          
          
          <div role="main">
            
            <div class="stripe-regular">
              <div class="row">
                
                <div class="large-9 columns">
                                    
                  <div class="coupons-wrapper">
                    <div class="row">
                      <div class="large-8 columns">
                        <h2>Coupons <span>- 2453 results</span></h2>
                      </div>
                      <div class="large-4 columns">
                        <div class="ui-links sort-items">
                          <a href="#">Popular</a> | <a href="#" class="current">Newest</a>
                        </div>
                      </div>
                    </div>
                    
                    <ul class="rr items-landscape">
                      <li class="wrapper-3">
                        <div class="row">
                          <div class="large-4 small-12 columns">
                            <figure>
                              <img src="img/ph/200x110/1.jpg" alt="">
                            </figure>
                          </div>
                          <div class="large-5 small-8 columns">
                            <div class="col-middle">
                              <h2 class="alt">Cranium Disney Family Edition at Amazon</h2>
                              <p class="text secondary">
                                Duis dolor nisi, commodo in porttitor id, cursus vitae elit. Integer sit amet consectetur purus. Proin in leo orci. Aliquam molestie magna nec est tristique a viverra nisl congue. Aliquam dapibus lobortis massa a commodo.
                              </p>
                            </div>
                          </div>
                          <div class="large-3 small-4 columns">
                            <div class="col-right">
                              <p class="value secondary">$30 off</p>
                              <h6>14 days left</h6>
                              <a href="#" class="input button red secondary responsive">Show Coupon</a>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="wrapper-3">
                        <div class="row">
                          <div class="large-4 small-12 columns">
                            <figure>
                              <img src="img/ph/200x110/2.jpg" alt="">
                            </figure>
                          </div>
                          <div class="large-5 small-8 columns">
                            <div class="col-middle">
                              <h2 class="alt">Popular Marvel Movies Titles on Amazon</h2>
                              <p class="text secondary">
                                Duis dolor nisi, commodo in porttitor id, cursus vitae elit. Integer sit amet consectetur purus. Proin in leo orci. Aliquam molestie magna nec est tristique a viverra nisl congue. Aliquam dapibus lobortis massa a commodo.
                              </p>
                            </div>
                          </div>
                          <div class="large-3 small-4 columns">
                            <div class="col-right">
                              <p class="value secondary">$30 off</p>
                              <h6>14 days left</h6>
                              <a href="#" class="input button blue secondary responsive">Learn more</a>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="wrapper-3">
                        <div class="row">
                          <div class="large-4 small-12 columns">
                            <figure>
                              <img src="img/ph/200x110/3.jpg" alt="">
                            </figure>
                          </div>
                          <div class="large-5 small-8 columns">
                            <div class="col-middle">
                              <h2 class="alt">GoDaddy yearly hosting offer</h2>
                              <p class="text secondary">
                                Duis dolor nisi, commodo in porttitor id, cursus vitae elit. Integer sit amet consectetur purus. Proin in leo orci. Aliquam molestie magna nec est tristique a viverra nisl congue. Aliquam dapibus lobortis massa a commodo.
                              </p>
                            </div>
                          </div>
                          <div class="large-3 small-4 columns">
                            <div class="col-right">
                              <p class="value secondary">10% off</p>
                              <h6>3 days left</h6>
                              <span class="input button border secondary responsive">5G5a29o</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="wrapper-3">
                        <div class="row">
                          <div class="large-4 small-12 columns">
                            <figure>
                              <img src="img/ph/200x110/4.jpg" alt="">
                            </figure>
                          </div>
                          <div class="large-5 small-8 columns">
                            <div class="col-middle">
                              <h2 class="alt">InterSport May Orders</h2>
                              <p class="text secondary">
                                Duis dolor nisi, commodo in porttitor id, cursus vitae elit. Integer sit amet consectetur purus. Proin in leo orci. Aliquam molestie magna nec est tristique a viverra nisl congue. Aliquam dapibus lobortis massa a commodo.
                              </p>
                            </div>
                          </div>
                          <div class="large-3 small-4 columns">
                            <div class="col-right">
                              <p class="value secondary">10% off</p>
                              <h6>3 days left</h6>
                              <span class="input button border high secondary responsive">5G5a29o</span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                  <ul class="rr pagination">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li class="current"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                  
                </div>

                <aside class="large-3 columns main-sidebar bg">
                
                  <div class="wrapper-3 secondary block">
                    <h2 class="alt inner">Filter Results</h2>
                    <h5 class="inner">Days left</h5>
                    
                    <div class="inner">
                      
                      <div class="filter-days">
                        <div class="bg-bar">
                          <div class="slider"></div>
                        </div>
                        
                        <div class="info">
                          <span class="begin"></span>
                          <span class="end"></span>
                        </div>
                      </div>
                      
                    </div>
                    
                    <h5 class="inner">Companies</h5>
                    
                    <ul class="rr inner checklist">
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Nike</span>
                        </label>
                        <p class="rr count-bullet">56</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Ray Ban</span>
                        </label>
                        <p class="rr count-bullet">10</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Amazon</span>
                        </label>
                        <p class="rr count-bullet">17</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>InterSport</span>
                        </label>
                        <p class="rr count-bullet">32</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Big Time</span>
                        </label>
                        <p class="rr count-bullet">4</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>WristWatch</span>
                        </label>
                        <p class="rr count-bullet">56</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>GoDaddy</span>
                        </label>
                        <p class="rr count-bullet">10</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>SanDisk</span>
                        </label>
                        <p class="rr count-bullet">17</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Nikon</span>
                        </label>
                        <p class="rr count-bullet">32</p>
                      </li>
                      <li class="cf">
                        <label>
                          <span class="checkbox"><input type="checkbox"></span>
                          <span>Canon</span>
                        </label>
                        <p class="rr count-bullet">4</p>
                      </li>
                    </ul>
                    
                  </div>
                  
                  <div class="wrapper-3 secondary block">
                    <h2 class="alt inner">Popular Companies</h2>
                    
                    <ul class="rr inne sidebar-list popular-companies-list">
                      <li class="cf">
                        <a href="company.html">Nike <span class="count-bullet">56</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">Ray Ban <span class="count-bullet">12</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">Amazon <span class="count-bullet">32</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">InterSport <span class="count-bullet">7</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">Big Time <span class="count-bullet">10</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">WristWatch <span class="count-bullet">56</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">GoDaddy <span class="count-bullet">12</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">SanDisk <span class="count-bullet">32</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">Nikon <span class="count-bullet">7</span> </a>
                      </li>
                      <li class="cf">
                        <a href="company.html">Canon <span class="count-bullet">10</span> </a>
                      </li>
                    </ul>
                    
                    <a href="#" class="side-link">View All Companies</a>
                    
                  </div>
                
                </aside>

              </div>
            </div>
            
          </div>
          
          
          
          
          <footer role="contentinfo">
            
            <div class="newsletter-wrap stripe-white">
              <div class="row">
                <form action="#">
                  <div class="large-3 columns">
                    <h3>Newsletter Signup</h3>
                  </div>
                  <div class="small-4 large-3 columns">
                    <input type="text" class="input field primary" placeholder="Enter Your Name">
                  </div>
                  <div class="small-5 large-4 columns">
                    <input type="text" class="input field primary" placeholder="Enter Your E-mail">
                  </div>
                  <div class="small-3 large-2 columns">
                    <input type="submit" class="input button primary red" value="Subscribe">
                  </div>
                </form>
              </div>
            </div>
            
            <div class="stripe-regular">
              <div class="row">
                <div class="column">                  
                  <h2>Popular Companies</h2>
                </div>
              </div>
              <div class="row collapse">
                <div class="column">
                  <div class="popular-companies flexslider">
                    <ul class="rr slides">
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/1.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/2.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/3.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/4.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/1.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/2.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/3.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/4.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/1.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/2.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/3.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/4.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/1.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/2.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/3.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="company.html" class="wrapper-5 small">
                          <img src="img/ph/130x130/4.jpg" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="stripe-dark pre-footer-wrap">
              <div class="row">
                <div class="large-4 columns">
                  <h3 class="alt">About</h3>
                  <p>
                    Ut sodales ultrices metus, at molestie tellus cursus quis. Cras placerat bibendum quam sed facilisis. Suspendisse dapibus eros eget tellus tempor lacinia. Cras ornare lorem sit amet arcu accumsan ut tristique est fringilla.
                  </p>
                </div>
                <div class="small-6 large-4 large-offset-1 columns">
                  <h3 class="alt">Recent Tweets</h3>
                  <div class="tweet">
                    <p>
                      Couponizer is a multi-purpose PSD template. Created by #bestwebsoft - hand-made websites from great guys http://t.co/HXvWw
                    </p>
                    <a href="#" class="posted">posted 5 minutes ago</a>
                  </div>
                </div>
                <nav class="small-6 large-2 large-offset-1 columns">
                  <h3 class="alt">Menu</h3>
                  <ul class="rr footer-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Jobs</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            
            <div class="stripe-darker footer-wrap">
              <div class="row">
                <div class="large-3 columns">
                  <div class="logo">
                    <a href="#">Couponizer</a>
                  </div>
                </div>
                <div class="large-6 columns">
                  <div class="copyright">Copyright &copy; 2013, developed by <a href="http://teothemes.com">TeoThemes</a>. All rights reserved.</div>
                </div>
                <div class="large-3 columns">
                  <ul class="rr social">
                    <li><a href="#" class="ir tw">Twitter</a></li>
                    <li><a href="#" class="ir in">LinkedIn</a></li>
                    <li><a href="#" class="ir fb">Facebook</a></li>
                  </ul>
                </div>
              </div>
            </div>
            
          </footer>
          
          
          
          
        </div>
        
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
